.body_backgorund 
{
    background-image:url(bday-752.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
 border-width: 10px;  
 border-style: ridge;
 border-color: lightskyblue;
 background-color: aliceblue;
}
button
{
    background-color: deeppink;
    font-weight: bold;
}